@import "../variables";
@import "../navbar";
@import "../footer";

/* Google font imports (moved here so site-wide CSS vars live in SCSS)
   These were previously in the compiled CSS; keeping them here avoids
   duplicating the same runtime rules in both CSS and SCSS. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Site-wide fluid variables for ultra-wide monitor support (CSS custom properties)
   Keeping these as custom properties so they are available at runtime in the browser. */
:root {
  --site-max-width: clamp(1000px, 60vw, 1800px);
  --site-padding: clamp(16px, 2.5vw, 64px);
  --fluid-type-min: 16px;
  --fluid-type-max: 20px;
  --content-max-ch: 80ch;
}

/* Constrain main content within a comfortable max-width on ultra-wide screens */
.landing .hero .title,
.landing .hero .typed-title,
.main .content,
.ponsors .container,
.quote-section .title,
.footer .content,
.team-container {
  max-width: var(--site-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0; /* outer sections already get site padding below */
}

/* Add horizontal padding to full-bleed sections */
.landing .hero,
.main,
.sponsors,
.quote-section,
.footer {
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  box-sizing: border-box;
}

/* Fluid base font-size */
html { font-size: clamp(var(--fluid-type-min), 1.6vw, var(--fluid-type-max)); }

/* Optional tweaks for very large viewports */
@media (min-width: 1600px) {
  :root { --site-max-width: calc(var(--site-max-width) + 200px); }
}
@media (min-width: 2100px) {
  :root {
    --site-max-width: 2000px;
    --site-padding: clamp(24px, 3vw, 120px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // border: 1px solid red;
}
.fa-gear,
.svg-inline--fa.fa-gear {
  display: inline-block;
  transform-origin: center center;
  transition: transform 400ms ease, color 180ms ease-in !important;

  &:hover {
    transform: translateY(-6px) rotate(90deg) scale(1.05) !important;
    color: rgb(255, 221, 84) !important;
  }
}
.popup {
    display: none;
    position: fixed ;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    .popup-content {
      p {
        padding-top: 2.3vh;
        line-height: 1.5rem;
        font-size: 20px;
        max-width: 50ch;
        margin: 0 auto;
        font-weight: 400;
        color: $tertiary;
      }
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-53%, -20%);
        background-color: rgb(255, 255, 255);
        padding: 2vh;
        border-radius: 3vh;
        text-align: center;
        .title {
          font-size: $title;
          text-align: center;
          font-weight: 700;
          color: $secondary;
          margin-bottom: -1rem;
        }
        .button {
          
          border-radius: 1vw;
          font-weight: 400;
          font-size: clamp($body, 3vw, $subheader);
          margin-top: 6vh;
          a {
            
            background-color: $decoration;
            text-decoration: none;
            color: $primary;
            padding: 25px;
        
            &:hover {
              box-shadow: 0px 2px 10px 1px $decoration;
            }
          }
        }
        #close-popup {
            position: relative;
            font-family: sans-serif;
            font-weight:600;
            font-size:40px;
            background-color: $light-dec
            ;
            color: rgb(0, 0, 0);
            transform: translate(70%, -470%);
            border: none;
            padding: 2vh vh;
            cursor: pointer;
            border-radius: 5vh;
        }
    }

button {
  align-self: center;
  display: block;
  margin: 0 0 0 auto;
  font-size: 36px;
  color: $primary;
  background: $decoration;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 4px solid $secondary;
  transform: translate(-30%, 30%);
}

  img {
    width: 500px;
    
  }
}

.becomesponsor{
  text-align: center;
  margin-bottom: 0vh;
  button {
    align-self: center;
    display: block;
    margin: 0 0 0 auto;
    font-size: 36px;
    color: $primary;
    background: $decoration;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 4px solid $secondary;
    transform: translate(-30%, 30%);
  }
}
.landing {
  background-image: url("/landing-page/media/main-background-3.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $background;
  background-blend-mode: soft-light;
  min-height: 90vh;

  .hero {
    font-weight: 700;
    color: $primary;
    text-align: center;

    .title {
      padding-top: 36vh;
      font-size: $cover;
    }

    .typed-title {
      margin-top: 1vh;
      font-weight: 400;
      font-size: $subtitle;
    }


  }
}
.team-container {
  display: flex;
  justify-content: space-between;
  .team {
    
    width: 40vw; /* Adjust as needed */
    margin-bottom: 7vh;
    color: rgb(0, 0, 0); /* Optional margin between teams */

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: $subheader;
    }
    .team-description {
      color: rgba(150, 150, 150); /* Match the color of the other text */
      font-family: "Roboto", Arial, Helvetica, sans-serif; /* Match the font-family */
      font-size: 16px; /* Match the font size */
      font-weight: 300; /* Match the font weight */
      line-height: 1.5; /* Match the line height */
    }
  }
}
.button {
  border-radius: 1vw;
  font-weight: 400;
  font-size: clamp($body, 3vw, $subheader);
  margin-top: 6vh;
  a {
    
    background-color: $decoration;
    text-decoration: none;
    color: $primary;
    padding: 25px;

    &:hover {
      box-shadow: 0px 2px 10px 1px $decoration;
    }
  }
}
.main {

  .crescendo {
    border-radius: 1vw; /* You can adjust the radius to your preference */
    overflow: hidden; /* Ensures the border-radius is applied to the image content */
  }
  text-align: center;
  padding: 10vw;
  background-color: $primary;

  .title {
    font-size: $title;
    font-weight: 700;
    color: $secondary;
  }

  .subtitle {

    .videos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
  
      .video {
        .subtitle {
          font-size: $subtitle;
          color: $tertiary;
          font-weight: 400;
          margin-bottom: 0.5vw;
        }
  
        iframe {
          width: 42.6667vw;
          height: 24vw;
        }
      }
    }

    font-size: $subtitle;
    margin: 1vh 10vw 5vh;
    color: $tertiary;
  }
  
  .content {
    display: flex;
    justify-content: space-evenly;

    i {
      font-size: $icon;
      color: $decoration;
      transition: transform 200ms ease-in, color 200ms ease-in;

      &:hover {
        transform: translateY(-7px) scale(1.1);
        color: $light-dec;
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: $subheader;
    }

    p {
      line-height: 1.5rem;
      font-size: $body;
      max-width: 50ch;
      margin: 0 auto;
      font-weight: 1000000000;
      color: $tertiary;
      text-align: left;
    }
  }
}


.quote-section {
  background-image: url("/landing-page/media/quote-background.webp");
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: soft-light;
  padding: 8vh 4vw;

  .title {
    font-size: $header;
    font-weight: 700;
    color: $primary;
    border-left: 5px solid $primary;
    width: min(1600px, 90%);
    margin: 0 auto;
    padding: 1em 2em;
  }
}

.sponsors {
  background-image: url("/team-135/media/main-logo.webp");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $primary;
  background-blend-mode: soft-light;
  padding: 2vw 0;

  .title {
    font-size: $title;
    text-align: center;
    font-weight: 700;
    color: $secondary;
    margin-bottom: -1rem;
  }

  .container {
    img {
      width: 100%;
    }
    .swiper {
      width: 400px;
      aspect-ratio: 1;

      .swiper-slide {
        display: flex;
        align-items: center;
        padding: 1rem;
      }

      // .swiper-button-prev,
      // .swiper-button-next {
      //   color: $primary;
      //   margin: 10rem 0;
      // }

      // .swiper-pagination-bullet {
      //   background-color: $primary;
      // }
    }
  }

  .preview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex-wrap: wrap;
    width: 86vw;
    margin: 0 auto;

    img {
      width: 100px;
      height: auto;
    }
  }
}



@media (max-width: 1060px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -470%);
      }
    }
  }
}

@media (max-width: 1020px) {
  .becomesponsor{
    margin-bottom: 3vh;
  }
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: 40%;
      transform: translate(-30%, -20%);
      #close-popup{
        transform: translate(60%, -470%);
      }
    }
  }
}

@media (max-width: 852px) {
  .becomesponsor{
    margin-bottom: 3vh;
  }
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: 30%;
      transform: translate(-17%, -20%);
      #close-popup{
        transform: translate(60%, -470%);
      }
    }
  }
}
@media (max-width: 720px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -470%);
      }
    }
    img {
      width: 400px;
    }
  }
  .landing {
    min-height: 80vh;
  }
}

@media (max-width: 720px) {

  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -470%);
      }
    }
  }
}

@media (max-width: 480px) {
  .popup {
    width: 100%;

    img {
      width: 300px;
    }
  }

  .landing {
    background-attachment: scroll;
  }

  .main {
    .subtitle {
      margin: auto 10vw;
      
      
    }

    .content {
      flex-direction: column;

      i {
        margin-top: 2rem;
      }
    }

  }
  .sponsors {
    background-attachment: scroll;

    .container {
      .swiper {
        width: 300px;
      }
    }
  }

  .quote-section {
    background-attachment: scroll;

    .title {
      border: 5px solid $primary;
    }
  }

  .contact-us {
    .content {
      flex-direction: column;
      padding: none;
    }

    .title {
      margin: 0;
    }
  }
}


@media (max-width: 486px) {

  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: 20%;
      transform: translate(-7%, -20%);
      #close-popup{
        transform: translate(60%, -440%);
      }
    }
  }
}

@media (max-width: 428px) {

  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: 10%;
      transform: translate(-5%, -20%);
      #close-popup{
        transform: translate(60%, -430%);
      }
    }
  }
}

@media (max-width: 382px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: 0%;
      transform: translate(0%, -20%);
      #close-popup{
        transform: translate(50%, -440%);
      }
    }
  }
}

@media (max-width: 345px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: -10%;
      transform: translate(5%, -20%);
      #close-popup{
        transform: translate(20%, -440%);
      }
    }
  }
}

@media (max-width: 316px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      left: -11%;
      transform: translate(5%, -21%);
      #close-popup{
        transform: translate(30%, -550%);
      }
    }
  }
}
@media (max-height: 900px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -420%);
      }
    }
  }
}

@media (max-height: 750px) {
  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -380%);
      }
    }
  }
}
@media (max-height: 520px) {

  .popup {
    width: 100%;
    top:0%;
    .popup-content{
      #close-popup{
        transform: translate(60%, -340%);
      }
    }
  }
}

/* Grid and Box Styling for FLL, FTC, FRC */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 2rem 0;
}

.box {
  background-color: #f5f5f7;
  padding: 40px;
  text-align: center;
  border-radius: 12px;

  a {
    display: block;
    margin-bottom: 1rem;

    i {
      font-size: $icon;
      color: $decoration;
      transition: transform 100ms ease-in, color 100ms ease-in;
      animation: gearPulse 2s ease-in-out infinite;

      &:hover {
        transform: translateY(-2px) scale(1.05);
        color: $light-dec;
      }
    }
  }

  h2 {
    font-size: $header;
    color: $secondary;
    margin: 1rem 0;
  }

  p {
    color: $heavy_body_text;
    font-size: $body;
    line-height: 1.6;
  }
}

/* Responsive Grid for Smaller Screens */
@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes gearPulse {
  0% {
    color: $decoration;
  }
  50% {
    color: $light-dec;
  }
  100% {
    color: $decoration;
  }
}

/* Team Grid Styling - 2 Columns */
.team-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 2rem 0;
}

.team-box {
  background-color: #f5f5f7;
  padding: 40px;
  text-align: center;
  border-radius: 12px;

  h2 {
    font-size: $header;
    color: $secondary;
    margin: 0 0 1rem 0;
  }

  p {
    color: $heavy_body_text;
    font-size: $body;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
}

/* Responsive Team Grid for Smaller Screens */
@media (max-width: 1300px) {
  .team-grid {
    grid-template-columns: 1fr;
  }
}

